<div data-role="page" class="productPage">

  <div data-role="header" data-position="inline">
    <h1>Products</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse"
       <%= "data-ajax='false'" if is_bb6 %>>Home</a>
    <a href="<%= url_for :action => :new %>" class="ui-btn-right" data-icon="plus">New</a>
  </div>

  <div data-role="content">
    <ul data-role="listview" class="endless productList">
      <% @products.each do |product| %>

          <li>
            <a href="<%= url_for :action => :show, :id => product.object, :query => {:product_id => product.object} %>">
              <%= product.name %>
            </a>
          </li>

      <% end %>
      <li class="loadingMessage">Loading more..</li>
    </ul>
  </div>

  <script type="text/javascript">
    if ("undefined" != typeof Rho) {
        Rho.setupEndlessScroll("div.productPage", "ul.productList", "li.loadingMessage",
            "<%= url_for :action => :page, :query => {:page => ""} %>");
    }
  </script>
</div>


