<div class="toolbar">
	<h1 id="pageTitle">
		Edit <%=@customer.first%>
	</h1>
</div>

<form title="Edit Customer" 
	  class="panel" 
	  id="customer_edit_form" 
	  method="POST" 
	  action="<%=url_for(:action => :update)%>" selected="true">
	<fieldset>
		<input type="hidden" name="id" value="<%=@customer.object%>"/>
		
		  <div class="row">
			  <label>First: </label>
			  <input type="text" name="customer[first]" value="<%=@customer.first%>"/>
		  </div>
		
		  <div class="row">
			  <label>Last: </label>
			  <input type="text" name="customer[last]" value="<%=@customer.last%>"/>
		  </div>
		
		  <div class="row">
			  <label>Email: </label>
			  <input type="text" name="customer[email]" value="<%=@customer.email%>"/>
		  </div>
		
		  <div class="row">
			  <label>Phone: </label>
			  <input type="text" name="customer[phone]" value="<%=@customer.phone%>"/>
		  </div>
		
		  <div class="row">
			  <label>Address: </label>
			  <input type="text" name="customer[address]" value="<%=@customer.address%>"/>
		  </div>
		
		  <div class="row">
			  <label>City: </label>
			  <input type="text" name="customer[city]" value="<%=@customer.city%>"/>
		  </div>
		
		  <div class="row">
			  <label>State: </label>
			  <input type="text" name="customer[state]" value="<%=@customer.state%>"/>
		  </div>
		
		  <div class="row">
			  <label>Zip: </label>
			  <input type="text" name="customer[zip]" value="<%=@customer.zip%>"/>
		  </div>
		
	</fieldset>
	<input type="submit" value="Update"/>
	<p align="center">
		<a href="<%=url_for(:action => :delete, :id => @customer.object)%>">
			<font color="#990000">Delete</font>
		</a>
	</p>
</form>