<div class="pageTitle">
  <h1>Search</h1>
</div>

<div class="toolbar">
  <div class="leftItem regularButton">
    <a href="<%= Rho::RhoConfig.start_path %>">Home</a>
  </div>
  <div class="rightItem regularButton">
    <a href="<%= url_for :action => :new %>">New</a>
  </div>
</div>

<div class="content">
  <form method="POST" action="<%= url_for(:action => :search) %>">
    <ul>
      <li>
        <label for="query" class="fieldLabel">Query</label>
        <input type="text" name="query" <%= placeholder("Query") %>/>
      </li>
    </ul>
    <input type="submit" class="standardButton" value="Search"/>
  </form>
  <div>
    <%= "Found #{@customers.length} customer(s)." %>
  </div>
  <% if !@customers.empty? %>
      <ul>
        <% @customers.each do |x| %>
            <li><%= link_to "#{x.first}", {:action => :show, :id => x.object} %></li>
        <% end %>
      </ul>
  <% end %>
</div>
