<div class="pageTitle">
  <h1><%= @customer.first %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a href="<%= url_for :action => :index %>">Back</a>
  </div>
  <div class="rightItem regularButton">
    <a href="<%= url_for :action => :edit, :id => @product.object %>">Edit</a>
  </div>
</div>

<div class="content">
  <ul>

    <li>
      <div class="itemLabel">First</div>
      <div class="itemValue"><%= @customer.first %></div>
    </li>

    <li>
      <div class="itemLabel">Last</div>
      <div class="itemValue"><%= @customer.last %></div>
    </li>

    <li>
      <div class="itemLabel">Email</div>
      <div class="itemValue"><%= @customer.email %></div>
    </li>

    <li>
      <div class="itemLabel">Phone</div>
      <div class="itemValue"><%= @customer.phone %></div>
    </li>

    <li>
      <div class="itemLabel">Address</div>
      <div class="itemValue"><%= @customer.address %></div>
    </li>

    <li>
      <div class="itemLabel">City</div>
      <div class="itemValue"><%= @customer.city %></div>
    </li>

    <li>
      <div class="itemLabel">State</div>
      <div class="itemValue"><%= @customer.state %></div>
    </li>

    <li>
      <div class="itemLabel">Zip</div>
      <div class="itemValue"><%= @customer.zip %></div>
    </li>

  </ul>
</div>