<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">
    <h1><%= @customer.first %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">Back</a>
    <a href="<%= url_for :action => :edit, :id => @customer.object %>" class="ui-btn-right" data-icon="star">Edit</a>
  </div>

  <div data-role="content">
    <ul data-role="listview">

      <li>
        <div class="itemLabel">First</div>
        <div class="itemValue"><%= @customer.first %></div>
      </li>

      <li>
        <div class="itemLabel">Last</div>
        <div class="itemValue"><%= @customer.last %></div>
      </li>

      <li>
        <div class="itemLabel">Email</div>
        <div class="itemValue"><%= @customer.email %></div>
      </li>

      <li>
        <div class="itemLabel">Phone</div>
        <div class="itemValue"><%= @customer.phone %></div>
      </li>

      <li>
        <div class="itemLabel">Address</div>
        <div class="itemValue"><%= @customer.address %></div>
      </li>

      <li>
        <div class="itemLabel">City</div>
        <div class="itemValue"><%= @customer.city %></div>
      </li>

      <li>
        <div class="itemLabel">State</div>
        <div class="itemValue"><%= @customer.state %></div>
      </li>

      <li>
        <div class="itemLabel">Zip</div>
        <div class="itemValue"><%= @customer.zip %></div>
      </li>

    </ul>
  </div>

</div>
